h1 {
 font-family: Curtisfont;
 color: white;
 text-align: center;
 font-size: 1000%;
 margin-top: 10px;
}

body {
    background-color: black;
}

table{
    width:50%; 
    margin-left: auto; 
    margin-right: auto;
}


.bodytext {
text-align: center;
color:white;
font-family: Curtisfont;
font-size: 350%;
max-width: 1000px;
margin-left: auto; 
margin-right: auto;
}

.barrier {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.imageparent {
    position: relative
}

.imageframe {
    position: absolute;
    top: 0;
    left: 125px;
}

a:link, a:visited {
color: white;
padding-right: 25px;
padding-left: 25px;
text-align: center;
text-decoration: none;
display: block;
}

a:hover, a:active {
color: rgb(175, 0, 0);
}